body
{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
     font-family: 'Roboto', sans-serif;
} 
.introduction
{
    display:flex;
} 
h1 
{
    font-weight:800;
    font-size:40px;
    
}  
.border-head{
    border-left:3px solid tomato;
    border-radius:3px;
    padding-left:2%;
}
.heading-color
{
    color:orange;
}
.half-width
{
    width:70%;
    padding-left:10%;
  
} 
.half-width p
{ 
    
   font-size:18px;
}
.half-width img
{
   width:80%;
}
.writing-part
{
    padding-top:10%;
} 
.link-button
{    
    text-decoration:none;
    color:white;
    border:5px solid;
    border-radius:10px;
    padding:10px 20px;
    background-color:coral;
    font-weight:400;
    font-size:20px;
} 
.second-head
{
    text-align:center;
    font-family: 'Karla', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-top:100px;
    } 
    .center
    {
        padding:0 10% 0 10%;
        

    } 
    .second-part
    { 
       padding: 30px;
       margin:10px;
       border:5px solid;
       border-radius:40px;
       border-color:white;
        width:40%;
        height:500px;
        justify-content:space-evenly;
        
    }
    #mission
    {
        background-color:powderblue;
    }  
    
    #vission 
    {
        background-color:peachpuff;
    } 
   
    #goal
    {
        background-color:antiquewhite;

    } 
    
    .styling-rest-part
    {
        margin-top:100px;
        margin-right:60px;
        width:50%;
        
    
    } 
    .img-border
    {
        border-radius:10px;
        margin-left:50px;
        
    } 
    #develop 
    {
       padding-left:10px;
       text-align:justify;
       font-size:15px;
    }
    #add-bg
    {
        background-image: url("shape-1.png");
        background-position:left bottom;
        background-size:22%;
        background-repeat: no-repeat;
    }
    #community
    {
        padding-right:10px;
        text-align:justify;
        font-size:15px;
    }
    #add-bg2
    {
        background-image: url("shape-1.png");
        background-position: right bottom ;
        background-size:15%;
        background-repeat: no-repeat;
    } 
    #last-part
    {
        margin-top:10px;
    } 
    #last-part-bg
    {
        background-image:url("shape-6.png");
        background-size:60%;
        background-position:left center;
        background-repeat:no-repeat;


    }
    footer
    {
        background-color:black;
        font-family: 'Karla', sans-serif;
        font-family: 'Merriweather', serif;
        font-family: 'Moon Dance', cursive;
        font-family: 'Playfair Display', serif;
        font-family: 'Poppins', sans-serif;
        font-family: 'Roboto', sans-serif;
        font-family: 'Source Sans Pro', sans-serif;
        font-family: 'The Nautigal', cursive;
        text-align:center;
        font-weight:900;
        font-size:50px;
        padding:10px;
        margin-top: 100px;

    } 
    footer h1
    {
        color:white;
    }
    footer p
    {
        font-weight:500;
        font-size:40px;
        color:darkcyan
    }